clusterName: "elasticsearch-cluster"
replicas: 1

image: "docker.elastic.co/elasticsearch/elasticsearch"
imageTag: "8.11.3"

nodeGroup: "master"
roles:
  - master
  - data
  - ingest

esJavaOpts: "-Xms512m -Xmx512m"

resources:
  requests:
    cpu: "250m"
    memory: "1Gi"
  limits:
    cpu: "1"
    memory: "1.5Gi"

volumeClaimTemplate:
  accessModes: ["ReadWriteOnce"]
  storageClassName: "standard" 
  resources:
    requests:
      storage: 5Gi

sysctlInitContainer:
  enabled: false

extraEnvs:
  - name: ELASTIC_PASSWORD
    value: "root"
  - name: xpack.security.enabled
    value: "false"
  - name: xpack.security.http.ssl.enabled
    value: "false"
  - name: discovery.type
    value: single-node

esConfig:
  elasticsearch.yml: |
    cluster.name: elasticsearch-cluster
    node.name: ${HOSTNAME}
    network.host: 0.0.0.0
    node.store.allow_mmap: false

service:
  type: ClusterIP
  ports:
    - name: http
      port: 9200
      targetPort: 9200

antiAffinity: "soft"

secret:
  enabled: false

protocol: http

readinessProbe:
  initialDelaySeconds: 30
  timeoutSeconds: 10
  periodSeconds: 10
  successThreshold: 1
  failureThreshold: 5
