clusterName: "elasticsearch-cluster"

replicas: 1

image: "docker.elastic.co/elasticsearch/elasticsearch"
imageTag: "8.11.3"

nodeGroup: "master"

nodeAffinity:
  requiredDuringSchedulingIgnoredDuringExecution:
    nodeSelectorTerms:
      - matchExpressions:
          - key: "node-role.kubernetes.io/master"
            operator: "DoesNotExist"

roles:
  - master
  - data
  - ingest


resources:
  requests:
    memory: "512Mi"
    cpu: "200m"
  limits:
    memory: "1Gi"
    cpu: "1"

# clusterInitialMasterNodes: []

esJavaOpts: "-Xms512m -Xmx512m"

volumeClaimTemplate:
  accessModes: ["ReadWriteOnce"]
  storageClassName: "local-path"   
  resources:
    requests:
      storage: 5Gi

sysctlInitContainer:
  enabled: false

singleNode: true

extraEnvs:
  # - name: cluster.initial_master_nodes 
  #   value: ""
  - name: ELASTIC_PASSWORD
    value: "root"
  # - name: discovery.type
  #   value: "single-node"
  - name: xpack.security.enabled
    value: "false"
  - name: xpack.security.http.ssl.enabled
    value: "false"

esConfig:
  elasticsearch.yml: |
    cluster.name: elasticsearch-cluster
    node.name: ${HOSTNAME}
    network.host: 0.0.0.0
    node.store.allow_mmap: false

service:
  type: ClusterIP
  ports:
    - name: http
      port: 9200
      targetPort: 9200

antiAffinity: "soft"

secret:
  enabled: false

protocol: http

readinessProbe:
  initialDelaySeconds: 60
  timeoutSeconds: 30
  periodSeconds: 15
  successThreshold: 1
  failureThreshold: 15

clusterHealthCheckParams: "wait_for_status=yellow&timeout=1s"
