global:
  deploymentMode: SingleBinary
monitoring:
  selfMonitoring:
    enabled: false
    grafanaAgent:
      installOperator: false
loki:
  auth_enabled: false

test:
  enabled: false

singleBinary:
  enabled: true
  replicas: 1 

backend:
  replicas: 0
read:
  replicas: 0
write:
  replicas: 0

ingester:
  wal:
    enabled: true

storage:
  type: filesystem

persistence:
  enabled: true
  size: 10Gi
