apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: exploravis-apps
  namespace: argocd
spec:
  generators:
    - git:
        repoURL: 'https://github.com/Exploravis/exploravis-infra-configs.git'
        revision: main
        directories:
          - path: 'apps/*'  
  template:
    metadata:
      name: '{{path.basename}}'
      annotations:
        argocd.argoproj.io/kustomize-build-options: "--enable-helm"
        argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
    spec:
      project: default
      source:
        repoURL: 'https://github.com/Exploravis/exploravis-infra-configs.git'
        targetRevision: main
        path: '{{path}}'
      destination:
        server: https://kubernetes.default.svc
        namespace: '{{path.basename}}'  
      syncPolicy:
        automated:
          prune: false
          selfHeal: false
        syncOptions:
          - CreateNamespace=true
