deployment:
  enabled: true
  kind: DaemonSet  

affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
        - matchExpressions:
            - key: node-role.kubernetes.io/master
              operator: NotIn
              values:
                - "true"
            - key: node-role.kubernetes.io/control-plane
              operator: NotIn
              values:
                - "true"
api:
  dashboard: true
  insecure: true

ingressRoute:
  dashboard:
    enabled: true
    entryPoints: ["traefik"]

service:
  enabled: true
  type: NodePort

ports:
  web:
    port: 8000
    expose: 
      default: true
    exposedPort: 80
  websecure:
    port: 8443
    expose:
      default: true
    exposedPort: 443
  traefik:
    port: 8080
    expose:
      default: true    # This should be an object, not a boolean
    exposedPort: 8080

resources:
  limits:
    cpu: 200m
    memory: 200Mi
  requests:
    cpu: 100m
    memory: 100Mi

