deployment:
  enabled: true
  kind: DaemonSet  

affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
        - matchExpressions:
            - key: node-role.kubernetes.io/master
              operator: NotIn
              values:
                - "true"
            - key: node-role.kubernetes.io/control-plane
              operator: NotIn
              values:
                - "true"
api:
  dashboard: true
  insecure: true

ingressRoute:
  dashboard:
    enabled: true
    entryPoints: ["web"]  
    matchRule: (PathPrefix(`/dashboard`) || PathPrefix(`/api`))

service:
  enabled: true
  type: ClusterIP

ports:
  web:
    port: 80
    hostPort: 80
  websecure:
    port: 443
    hostPort: 443
  traefik:
    port: 8080
    hostPort: 8080

resources:
  limits:
    cpu: 200m
    memory: 200Mi
  requests:
    cpu: 100m
    memory: 100Mi

