on:
  workflow_dispatch:
jobs:
  helm-argocd:
    permissions:
      id-token: write
      contents: read
    name: argocd-install 
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Install Kubectl
      uses: azure/setup-kubectl@v3

    - name: Fetch Teleport binaries
      uses: teleport-actions/setup@v1
      with:
        version: auto
        proxy: teleport.exploravis.mywire.org:443
        
    - name: Authenticate with Teleport for full access
      uses: teleport-actions/auth@v2
      with:
        proxy: teleport.exploravis.mywire.org:443
        token: github-actions-token
        credential-ttl: 1h
        anonymous-telemetry: 1
        
    - name: Authorize against Teleport and get Kubeconfig
      id: auth
      uses: teleport-actions/auth-k8s@v2
      with:
        proxy: teleport.exploravis.mywire.org:443
        token: github-actions-token
        credential-ttl: 1h
        anonymous-telemetry: 1
        kubernetes-cluster: default 

    - name: Setup helm job service account 
      run: kubectl apply -f argocd/bootstrap/helm-job-sa.yaml --validate=false

    - name: Create argocd helm values ConfigMap  
      run: kubectl apply -f argocd/bootstrap/argocd-helm-values.yaml --validate=false

    - name: Launch argocd helm job 
      run: |
        kubectl apply -f argocd/bootstrap/argocd-helm-job.yaml --validate=false
        kubectl wait --for=condition=complete job/helm-install-argocd --timeout=600s

    - name: Create argocd-cm ConfigMap
      run: kubectl apply -f argocd/bootstrap/argocd-cm.yaml --validate=false

    - name: Create ArgoCD anon user ConfigMap
      run: kubectl apply -f argocd/bootstrap/argocd-anon-rbac.yaml --validate=false

    - name: Deploy root ApplicationSet 
      run: kubectl apply -f argocd/config/root-application.yaml

    - name: Add ArgoCD app to Teleport  
      env:
        TELEPORT_PROXY: teleport.exploravis.mywire.org:443
      run: tctl create -f argocd/teleport/argo-cd-teleport-app.yaml
